# Core ML Framework
tensorflow==2.15.0
tf-keras

# NLP & Model Handling
transformers==4.32.0
sentencepiece
protobuf
textblob
accelerate

# Backend API
flask
flask-cors
requests

# Data Processing
numpy
pandas
scikit-learn
nltk

#Managing environemnt variables
python-dotenv


